body{
	font-family: sommet;
	background: #e6f2ff;
	text-align: center;
}
h1{
	border-style:solid;
	border-width: 5px;
	border-color: #1a88ff;
	padding: 1%;
	width: 40%;
	height: 10%;
	margin: auto;
}
footer{
	position: fixed;
	bottom: 0;
	font-size: 30px;
	padding: 1%;
}
.topnav{
	position: fixed;
	top: 0;
	background-color: #004a99;
}
.topnav a{
	float: left;
	display: block;
	text-align: center;
	color: white;
}
.topnav a:hover{

}